body {
  margin: auto;
  background: #fa9186;
}

.container {
  margin: auto;
  margin-top: 10vh;
  width:40vw;
  height: 80vh;
  background: #ffffff;
  border: solid 10px #f97566;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.body {
  width: 80%;
  height: 80%;
  background: #fa9186;
  border-top-left-radius: 20% 30%;
  border-top-right-radius: 15% 50%;
  border-bottom-left-radius: 10% 10%;
  border-bottom-right-radius: 20% 40%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  box-shadow: 8px 20px 10px -10px #33161370;
}
.grip {
 width: 35%;
 height: 95%;
 /* outline: red solid 1px; */
 align-self: flex-end;
 margin-left: -9px;
 margin-top: 5.5%;
 background: #fa9186;
 border-top-left-radius: 35% 40%;
 border-top-right-radius: 50%;
 border-bottom-left-radius: 20% 10%;
 border-bottom-right-radius: 30% 10%;
 box-shadow: #ff8b7e 1px 1px 10px 1px;
}