@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
body {
  margin: auto;
  background: #fa9186;
}

.container {
  margin: auto;
  margin-top: 10vh;
  width:40vw;
  height: 80vh;
  background: #ffffff;
  border: solid 10px #f97566;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.body {
  width: 80%;
  height: 80%;
  background: #fa9186;
  border-top-left-radius: 20% 30%;
  border-top-right-radius: 15% 50%;
  border-bottom-left-radius: 10% 10%;
  border-bottom-right-radius: 20% 40%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  box-shadow: 8px 30px 20px -20px #33161370;
}
.grip {
 width: 35%;
 height: 95%;
 align-self: flex-end;
 margin-left: -9px;
 margin-top: 5.5%;
 background: #fa9186;
 border-top-left-radius: 35% 40%;
 border-top-right-radius: 50%;
 border-bottom-left-radius: 20% 10%;
 border-bottom-right-radius: 30% 10%;
 box-shadow: #ff8b7e 1px 1px 10px 1px;
 display: flex;
 flex-direction: column;
 align-items: center;

}
.eyeView {
  width: 20%;
  height: 10%;
  background: radial-gradient(circle, #ffffff 0%, #000000dd 30%, #000000 100%);
  outline: solid 1px #000000;
  margin-top: 18%;
  margin-left: -9px;
  box-shadow: #c7746ef3 3px 5px 6px 8px;
}
.button {
  width: 27%;
  height: 10%;
  border-radius: 50%;
  border: solid 1px #080808a1;
  margin-top: 25%;
  margin-left: -7px;
  box-shadow: #f88c80 -3px 3px 10px 10px, #c7746ef3 -3px 1px 4px 8px, #cc6c61d2 0px 10px 10px 1px inset ;
}
.camComp {
 height: 100%;
 width: 65%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;
}
.flash {
  width: 15%;
  height: 25%;
  background: #ffffffd8;
  border: solid 3px #88868675;
  margin-top: 5%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flashInner {
  width: 90%;
  height: 90%;
  border-radius: 30px;
  background: linear-gradient(0deg, #ffffff 0%, #494747 50%, #ffffff 100%);
  background-size: 3px 3px;
  background-repeat: repeat;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flashTop {
  height: 35%;
  width: 100%;
  background: linear-gradient(0deg, #ffffff 0%, #ff9b94c0 15%, #ff9b94c0 25%, #ffffff 50%, #ff9b94c0 75%, #ff9b94c0 85%, #ffffff 100%);
  background-size: 10px 10px;
  background-repeat: repeat;
}
.flashBottom {
  height: 35%;
  width: 100%;
  background: radial-gradient(circle at 50% 30%, rgba(255,255,255,1) 0%, #aaaaaa 100%);
}
.twoDotsContainer {
  width: 10%;
  height: 13%;
  border: 2px solid #ff8b7e;
  background: #ff938b;
  margin-top: 15%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.topDot {
  width: 50%;
  height: 25%;
  background: #000000b0;
  border-radius: 50%;
  box-shadow: #f87066cb 0px 5px 5px -1px;
}
.bottomDot {
  width: 50%;
  height: 25%;
  background: #000000b0;
  border-radius: 50%;
  box-shadow: #f87066cb 0px 5px 5px -1px;
}
.name {
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  margin-top: 10%;
  text-align: center;
}
.name b {
  font-size: 4vh;
}
.sideBump {
  width: 14%;
  height: 15%;
  border-radius: 50px;
  margin-top: 6%;
  transform: rotate(-20deg);
  margin-right: 5%;
  background: #fa9186;
}
.lens {
  width: 90%;
  height: 60%;
  border-radius: 50%;
  box-shadow: #ff8b7e 20px 0px 10px -10px, #ff8b7e -10px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lensButton {
  width: 5%;
  height: 10%;
  background: #f88c80;
  box-shadow: #eb9c93 5px 0px 1px -1px,#f57567 -3px 0px 1px 1px;
  align-self: center;
  margin-right: 5%;
  margin-bottom: -30%;
  transform: rotate(16deg);
  border-radius: 50%;
}
.secondCircle {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border-bottom: ridge 2px #000000b9;
  border-top: ridge 1px #000000b9;
  border-left: ridge 1px #000000b9;
  border-right: ridge 2px #000000b9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lensCircle {
  height: 35%;
  width: 40%;
  border-radius: 50%;
  background: #000000cd;
  box-shadow: #ac756f 0px -10px 10px 0px, #f7aaa1 0px 10px 10px -1px, #ac756f 1px 1px 10px 0px, #ac756f -1px 1px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lensWindow {
  height: 70%;
  width: 50%;
  border: #000000 solid 2px;
  border-radius: 20%;
}