@keyframes blob1animation {
  0% {
    top: 30%;
    left: -4%;
    opacity: .9;
  }
  50% {
    opacity: 1;
    top: -50%;
    left: 0%;
  }
  100% {
    opacity: 0;
    top: -100%;
    left: 0%;
  }
} 
@keyframes blob2animation {
  0% {
    top: 30%;
    left: 3%;
   
  }
  50% {
    opacity: 1;
    top: -50%;
    left: -1%;
  }
  100% {
    opacity: 0;
    top: -130%;
    left: -10%;
  }
} 