body {
  margin: auto;
  background: #26b4ef;
}

.container {
  margin: auto;
  margin-top: 10vh;
  width:40vw;
  height: 80vh;
  background: #a4e0f7;
  border: solid 10px #b5babd;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.top {
  border-bottom: 85px solid #d3d8dc;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.middle {
  border-bottom: 240px solid #26b4ef;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-radius: 7%;
  height: 0px;
  width: 77px;
}
.bottom {
  border-top: 78px solid #e4e7ec;
  border-bottom: 100px solid #d3d8dc;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 70px;
}
.overlay {
  /* outline: solid red 1px; */
  position: absolute;
  top: 11.5%;
  left: 43.8%;
  height: 80vh;
  width: 12.2vw;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.top1 {
  height: 17%;
  width: 50%;
  background: rgb(0,0,0);
  background: linear-gradient(103deg, #a4e0f7 0%, #a4e0f7 58%,rgba(141,142,147,1) 59%, rgba(228,231,236,1) 72%, rgba(196,201,207,1) 88%, rgba(228,231,236,1) 95%, #e2e5ea 100%);
  box-shadow: 40px 20px 10px -10px #ffffff83;
  z-index: +1;
}
.top2 {
  height: 17%;
  width: 50%;
  background: rgb(0,0,0);
  background: linear-gradient(-103deg, #a4e0f7 0%, #a4e0f7 58%,rgba(141,142,147,1) 59%, rgba(228,231,236,1) 72%, rgba(196,201,207,1) 88%, rgba(228,231,236,1) 95%, #e2e5ea 100%);
  z-index: +1;
}
.middle1 {
  border-radius: 5%;
  width: 100%;
  height: 47.5%;
  box-shadow: 0px -25px 10px -10px #ffffff83 inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.blobHolder {
  height: 90%;
  width: 90%;
  outline: red 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
}
.blob1 {
  width: 40%;
  height: 20%;
  background: #a4e0f7;
  border-radius: 50%;
  box-shadow: 5px 10px 20px 0px #ffffffa1 inset, -10px 10px 10px 1px #3ca0eca1 inset, 10px 20px 20px -10px #ffffffa1;
  animation:  blob1animation 20s infinite linear;
  position: relative;
}
.blob2 {
  width: 30%;
  height: 15%;
  align-self: center;
  margin-left: 30%;
  margin-bottom: -40%;
  background: #a4e0f7;
  border-radius: 50%;
  box-shadow: 5px 10px 20px 0px #ffffffa1 inset, -10px 10px 10px 1px #3ca0eca1 inset, 10px 20px 20px -10px #ffffffa1;
  animation:  blob2animation 15s 1s linear infinite;
  position: relative;
}
.blob3 {
  width: 35%;
  height: 18%;
  background: #a4e0f7;
  border-radius: 50%;
  margin-left: 2%;
  margin-bottom: -40%;
  box-shadow: 5px 10px 20px 0px #ffffffa1 inset, -10px 10px 10px 1px #3ca0eca1 inset, 10px 20px 20px -10px #ffffffa1;
  animation:  blob3animation 20s 2s infinite linear;
  position: relative;
}
.blob4 {
  width: 10%;
  height: 5%;
  align-self: center;
  margin-left: -25%;
  margin-bottom: -20%;
  background: #a4e0f7;
  border-radius: 50%;
  animation:  blob4animation 10s 3s linear infinite;
  position: relative;
}
.blob5 {
  width: 10%;
  height: 5%;
  align-self: center;
  margin-left: 25%;
  margin-bottom: -20%;
  background: #a4e0f7;
  border-radius: 50%;
  animation:  blob4animation 13s 4s linear infinite;
  position: relative;
}
.bottomBlob {
  width: 80%;
  height: 4%;
  align-self: center;
  margin-bottom: -7%;
  margin-left: 0%;
  background: #a4e0f7;
  border-top-width: 70%;
  border-radius: 90%;
  border-bottom-width: 10%;
  animation: none;
  position: absolute;
}
.bottom1 {
  height: 16%;
  width: 50%;
  background: rgb(0,0,0);
  background: linear-gradient(63deg, #a4e0f7 0%, #a4e0f7 35%,rgba(141,142,147,1) 38%, rgba(228,231,236,1) 72%, rgba(196,201,207,1) 88%, rgba(228,231,236,1) 95%, #e2e5ea 100%);
  z-index: +1;
}
.bottom2 {
  height: 16%;
  width: 50%;
  background: rgb(0,0,0);
  background: linear-gradient(-63deg, #a4e0f7 0%, #a4e0f7 34%,rgba(141,142,147,1) 37%, rgba(228,231,236,1) 72%, rgba(196,201,207,1) 88%, rgba(228,231,236,1) 99%, #e2e5ea 100%);
  z-index: +1;
}
.bottom3 {
  height: 19.6%;
  width: 50%;
  background: rgb(0,0,0);
  background: linear-gradient(112deg, #a4e0f7 0%, #a4e0f7 35%,rgba(141,142,147,1) 38%, rgba(228,231,236,1) 72%, rgba(196,201,207,1) 88%, rgba(228,231,236,1) 95%, #e2e5ea 100%);
  z-index: +1;
}
.bottom4 {
  height: 19.6%;
  width: 50%;
  background: rgb(0,0,0);
  background: linear-gradient(-112deg, #a4e0f7 0%, #a4e0f7 34%,rgba(141,142,147,1) 37%, rgba(228,231,236,1) 72%, rgba(196,201,207,1) 88%, rgba(228,231,236,1) 99%, #e2e5ea 100%);
  z-index: +1;
}