body {
  margin: auto;
  background: #26b4ef;
}

.container {
  margin: auto;
  margin-top: 10vh;
  width:40vw;
  height: 80vh;
  background: #a4e0f7;
  border: solid 10px #bfc7ca;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.top {
  border-bottom: 90px solid #bfc7ca;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.middle {
  border-bottom: 240px solid #26b4ef;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-radius: 5%;
  height: 0px;
  width: 80px;
}
.bottom1 {
  border-top: 80px solid #bfc7ca;
  border-bottom: 100px solid #bfc7ca;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 70px;
}
.overlay {
  border: solid red 1px;
  position: absolute;
  top: 25.5%;
  left: 45%;
  height: 56vh;
  width: 10vw;
}