body {
  background: #ace1ff;
}
.container {
  margin: auto;
  margin-top: 10vh;
  width:40vw;
  height: 80vh;
  background: #c9eaff;
  border: solid 10px #e1b4dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.mug {
  height: 55%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}
.handle {
  height: 40%;
  width: 26%;
  border-left: solid 18px #ffffff;
  border-bottom: solid 18px #ffffff;
  border-top: solid 18px #ffffff;
  border-right: solid 1px transparent;
  border-radius: 50%;
  transform: translateX(45%);
}
.mugbody {
  position: relative;
  height: 100%;
  width: 55%;
  background: #ffffff;
  border-top-left-radius: 125px 50px;
  border-top-right-radius: 125px 50px;
  border-bottom-left-radius: 125px 50px;
  border-bottom-right-radius: 125px 50px;
  align-self: flex-start;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  overflow: visible;
}
.coffee {
  margin-top: 5%;
  width: 80%;
  height: 24%;
  border-radius: 70%;
  border-top: solid 1px #ffffff;
  background-color: #543f30;
  align-self: center;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.8);
}