body {
  margin: auto;
  background: #88c5ec;
}

.container {
  margin: auto;
  margin-top: 10vh;
  width:40vw;
  height: 80vh;
  background: #88c5ec;
  border: dashed 10px #eeeff4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: visible;
}
.cloud {
  width: 60%;
  height: 40%;
  outline: 1px solid #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.4fr 0.6fr;
  grid-template-areas: ". cloud-top cloud-top ." "cloud-left cloud-left cloud-right cloud-right" "cloud-bottom cloud-bottom cloud-bottom cloud-bottom";
}
.top {
  width: 30%;
  height: 45%;
  background-color: #ffffff;
  border-radius: 50%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
.middleRight {
  width: 40%;
  height: 30%;
  background-color: #ffffff;
  border-radius: 50px;
}
.middleLeft {
  width: 70%;
  height: 40%;
  background-color: #ffffff;
  border-radius: 50px;
}
.bottom {
    width: 90%;
    height: 20%;
    background-color: #ffffff;
    border-radius: 20px;
}

.cloud {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.4fr 0.6fr;
  grid-template-areas: ". cloud-top cloud-top ." "cloud-left cloud-left cloud-right cloud-right" "cloud-bottom cloud-bottom cloud-bottom cloud-bottom";
}

.cloud-top { 
  grid-area: cloud-top;
  align-self: baseline;
  width: 100%;
  height: 200%;
  background-color: #ffffff;
  border-radius: 50%;
 }

 .cloud-right { 
   grid-area: cloud-right;
   justify-self: start;
   align-self: start;
   width: 90%;
   height: 120%;
   background-color: #ffffff;
   border-radius: 50%;
   border-bottom-left-radius: 0%;
  }

 .cloud-left { 
   grid-area: cloud-left;
   justify-self: end;
   align-self: start;
   width: 100%;
   height: 105%;
   background-color: #ffffff;
   border-radius: 50%;
   border-bottom-right-radius: 0%;
   border-bottom-left-radius: 50px;
  }
 
 .cloud-bottom { 
   grid-area: cloud-bottom; 
   justify-self: center;
   width: 110%;
   height: 170%;
   background-color: #ffffff;
   border-radius: 50px;
  }